.indicator {
  height: 4rem;
  width: auto;
  text-align: center;
  position: relative;
}

.year {
  font-size: 2rem;
}

.month {
  font-size: 3rem;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.button {
  cursor: pointer;
}
