.date {
  text-align: center;
  font-weight: bold;
}

.cell {
  height: 100%;
  overflow-y: auto;
  border-left: 1px dashed #A8A8A8;
}

.cell:last-child {
  border-right: 1px dashed #A8A8A8;
}

.outside {
  height: 100%;
  overflow-y: auto;
  border-left: 1px dashed #A8A8A8;
}

.outside:last-child {
  border-right: 1px dashed #A8A8A8;
}

.outside > .date {
  color: #A8A8A8
}
